/* Base styles */
* {box-sizing: border-box;
	margin: 0;
	padding: 0;}
body {font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 30px;
	margin-bottom: 100px;
}
div { background-color: white; }
section {
	width: 90%;
	height: 300px;
	border: 1px solid black;
	background-color: #D3D3D3;
	margin: 10px;
	position: relative;
	float: left;
}
h1 {font-size: 1.75em; text-align: center; margin-bottom: 30px;}
h2 {font-size: 1.25em; 
	width: 120px; 
	text-align: center; 
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	clear: both;
	margin-bottom: 10px;
	}
.row {
	width=100%;
}
#sec1 h2 {
	background-color: pink;
	opacity: 70%;
}
#sec2 h2 {
	background-color: red;
	color: white;
	opacity: 70%;
}
#sec3 h2 {
	background-color: yellow;
	opacity: 70%;
}
p {font-weight: normal;
	margin: 10px;
	clear: both;
}

/* Large devices only */

@media (min-width: 992px) {
	section {float: left;
	}
	#sec1 {
		width: 30%;
	}
	#sec2 {
		width: 30%;
	}
	#sec3 {
		width: 30%;
	}
}

/* Medium devices only */

@media (min-width: 768px) and (max-width: 991px) {
	section {float: left;
	}
	#sec1 {
		width: 45%;
	}
	#sec2 {
		width: 45%;
	}
	#sec3 {
		width: 92%;
	}
}